{% extends "../layouts/master-layout.twig" %}
{% block titlePage %}
	template
{% endblock %}
{% block content %}
	<section class="h-[846px]">
		<img class="w-full h-full object-cover" src="./images/banner.jpg" alt="">

	</section>
{% endblock %}
