<header>
        <div class="container">
            <ul class="flex items-center justify-center">
              {% for item in 1..2 %}
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
              {% endfor %}
            </ul>
        </div>
</header>
